body {
  background: rgb(224, 180, 97);
}

.main-heading {
  margin: 5px auto 5px auto;
  color: rgba(62, 76, 235, 0.955);
}
.heading {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 0.4rem;
}

.edit-button {
  background: rgb(224, 180, 97);
  border: none;
}

.search {
  gap: 10px;
}
